%div.jumbotron.col-md-12
  %h1.text-center
    %span.text-success.glyphicon.glyphicon-ok
  %h2.text-center.text-warning Su contraseña ha sido actualizada
  %h3.text-center.text-warning
    %a{'ng-click': 'volver()'}
      Iniciar Sesion
