%div{class:'modal fade', id: 'modal_errores', tabindex:'-1', role: 'dialog', 'aria-labelledby': 'myModalLabel'}
  %div{class: 'modal-dialog', role: 'document'}
    %div.modal-content
      %div.modal-header
        %button{class: 'close', type: 'button', 'data-dismiss': 'modal', 'aria-label': "Close"}
          %span{'aria-hidden':'true'} X
        %h4.modal-title.text-center.text-danger
          %span.glyphicon.glyphicon-fire
          &nbsp Errores &nbsp
          %span.glyphicon.glyphicon-fire
      %div.modal-body
        %h4{'ng-repeat': 'error in errores'}
          %div.alert.alert-danger
            {{error}}
