%div.container
  %div.col-md-1
    %a{class: 'btn btn-success', 'ng-href': '#/{{path}}/new'}   Nueva
  %div.col-md-11
    %input{'ng-model': 'search.$', class: 'form-control', placeholder: 'Buscar...'}
%br
%div.container.col-md-12
  %au-ficha
%au-confirma-borrar
%au-fija-en-escritorio
